*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:#ffffff;
color:#222;
}

.container{
width:90%;
max-width:1200px;
margin:auto;
}


/* NAVBAR */

.navbar{
position:sticky;
top:0;
background:white;
padding:20px 0;
box-shadow:0 2px 10px rgba(0,0,0,0.05);
z-index:1000;
border-bottom:1px solid #eee;
}

.nav-container{
display:flex;
justify-content:space-between;
align-items:center;
}


.logo img{
height:35px;
}


.nav-links{
list-style:none;
display:flex;
gap:25px;
}

.nav-links a{
text-decoration:none;
color:#333;
font-weight:500;
}

.nav-links a:hover{
color:#ff6b00;
}



/* HERO */

.hero{
padding:100px 0;
background:linear-gradient(to right,#f7f7f7,#ffffff);
}

.hero-grid{
display:grid;
grid-template-columns:1fr 1fr;
align-items:center;
gap:40px;
}

.hero-text h1{
font-size:45px;
margin-bottom:20px;
}

.hero-text span{
color:#ff6b00;
}

.hero-text p{
margin-bottom:25px;
line-height:1.6;
}

.hero-image img{
width:100%;
max-width: 500px;
}

.btn{
background:#ff6b00;
color:white;
padding:14px 28px;
border-radius:6px;
text-decoration:none;
border:none;
cursor:pointer;
font-weight:500;
transition:all 0.3s ease;
}

.btn:hover{
background:#e65c00;
transform:translateY(-2px);
}



/* ABOUT */

.about{
padding:80px 0;
text-align:center;
}

.about h2{
margin-bottom:20px;
font-size:32px;
}



/* SERVICES */

.services{
padding:80px 0;
background:#f7f7f7;
text-align:center;
}

.card-grid{
margin-top:40px;
display:grid;
grid-template-columns:repeat(3,1fr);
gap:30px;
}

.card{
background:white;
padding:30px;
border-radius:10px;
box-shadow:0 10px 25px rgba(0,0,0,0.05);
transition:all 0.3s ease;
}

.card:hover{
transform:translateY(-8px);
box-shadow:0 20px 40px rgba(0,0,0,0.12);
}



/* PROCESS */

.process{
padding:80px 0;
text-align:center;
}

.process-line{
margin-top:40px;
display:flex;
justify-content:center;
align-items:center;
gap:20px;
font-weight:600;
}



/* COMMUNITY */

.community{
padding:80px 0;
background:#f7f7f7;
text-align:center;
}



/* CONTACT */

.contact{
padding:80px 0;
}

.contact-grid{
display:grid;
grid-template-columns:1fr 1fr;
gap:40px;
}

.contact-form{
display:flex;
flex-direction:column;
gap:15px;
}

.contact-form input,
.contact-form textarea{
padding:12px;
border:1px solid #ccc;
border-radius:5px;
}



/* FOOTER */

footer{
background:#111;
color:white;
text-align:center;
padding:30px 0;
}



/* MOBILE */

@media(max-width:768px){

.hero-grid{
grid-template-columns:1fr;
}

.card-grid{
grid-template-columns:1fr;
}

.contact-grid{
grid-template-columns:1fr;
}

.hero-text h1{
font-size:32px;
}

}
